body {
	font-family: 'Inter', sans-serif;
}

:root {
	--color-brand: #bf7506;
	--color-dark: #1c1c1c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 870px;
	width: 100%;
	margin: 0 auto;
}

.accent {
	color: var(--color-brand);
}

.section-heading {
	font-size: 3rem;
	line-height: 125%;
	font-weight: 700;
	letter-spacing: -0.03em;
	margin-bottom: 1rem;
}

.hidden {
	display: none;
}

@media (max-width: 768px) {
	.section-heading {
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}
}

.navbar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 1rem;
}

.nav-list {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	gap: 24px;
}

.nav-link {
	text-decoration: none;
	color: var(--color-brand);
	font-size: 16px;
	line-height: 150%;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid transparent;
}

.nav-link.active {
	font-weight: 700;
	border-bottom: 2px solid var(--color-brand);
	font-family: 'Inter', sans-serif;
}

/* promo */

.promo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 28px;
	padding-bottom: 70px;
}

.promo-strong {
	display: block;
	font-size: 3rem;
	line-height: 125%;
	font-weight: 700;
	margin-bottom: 1.2rem;
}

.promo-heading {
	font-size: 1.5rem;
	line-height: 135%;
	font-weight: 700;
	letter-spacing: -0.02em;
	margin-bottom: 2rem;
}

.promo-links {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
}

.soc1al-list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.soc1al-link {
	display: inline-block;
	padding: 8px;
}

.cv-download {
	padding: 8px;
	display: flex;
	align-items: center;
	gap: 0.3rem;
	text-decoration: none;
	font-size: 1rem;
	line-height: 150%;
	font-weight: 700;
	color: var(--color-dark);
	border-bottom: 2px solid var(--color-brand);
}

@media (max-width: 900px) {
	.promo,
	.navbar {
		padding-block: 1.5rem;
		padding-inline: 1rem;
	}
}
@media (max-width: 768px) {
	.promo-strong {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	.promo-heading {
		font-size: 1.2rem;
	}
}

@media (max-width: 600px) {
	.header {
		padding-block: 0;
	}

	.navbar {
		padding-block: 1rem;
	}
	.promo {
		flex-direction: column;
		padding-top: 0;
	}

	.promo-wrapper {
		align-items: center;
	}

	.promo-heading,
	.promo-strong {
		text-align: center;
	}
}

/* cards */

.cards {
	display: grid;
	grid-auto-flow: row;
	gap: 1.5rem;
	grid-template-columns: repeat(3, 1fr);
}

.card {
	display: flex;
	flex-direction: column;
	background: #fcf9f5;
}

.card-image {
	width: 100%;
	object-fit: cover;
}

.card-info {
	padding: 1rem;
	flex: 1;
}

.card-title {
	font-size: 24px;
	line-height: 125%;
	letter-spacing: -0.02em;
	font-weight: 700;
	margin-bottom: 32px;
}

.card-description {
	font-size: 16px;
	line-height: 150%;
	font-weight: 400;
	margin-bottom: 16px;
}

.tags {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 0.3rem;
	margin-bottom: 1rem;
}

.tags-item {
	padding: 4px 8px;
	font-size: 12px;
	line-height: 150%;
	font-weight: 400;
	border: 1px solid var(--color-brand);
	border-radius: 4px;
}

.card-buttons {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.project-link {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 8px;
	text-decoration: none;
	color: var(--color-dark);
	border-bottom: 2px solid var(--color-brand);
}

@media (max-width: 1024px) {
	.portfolio-wrapper {
		padding-block: 1.5rem;
		padding-inline: 1rem;
	}
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 600px) {
	.cards {
		grid-template-columns: 1fr;
	}
}

/* developer */

.developer {
	display: flex;
	align-items: center;
	gap: 1.25rem;
	padding-block: 5rem;
}

.developer-photo {
	width: 360px;
	height: 440px;
	object-fit: cover;
	flex-shrink: 0;
	border-radius: 1.25rem;
}

.developer-about {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-left: 30px;
}

.developer-greeting {
	font-size: 24px;
	line-height: 135%;
	letter-spacing: -0.02em;
}

.developer-title {
	font-size: 2rem;
	line-height: 125%;
	letter-spacing: -0.03em;
	font-weight: 700;
}

.developer-text {
	font-size: 1rem;
	line-height: 150%;
}

.developer-motto {
	font-size: 1.5rem;
	line-height: 150%;
}

.developer-signature {
	max-width: 200px;
}

@media (max-width: 768px) {
	.developer {
		padding-inline: 1rem;
		flex-direction: column-reverse;
		padding-block: 40px;
	}

	.developer-title,
	.developer-text,
	.developer-motto,
	.developer-greeting {
		text-align: center;
	}

	.developer-photo {
		width: 90%;
		height: 350px;
	}

	.developer-signature {
		margin: 0 auto;
	}
}

/* skills */

.skills {
	padding-block: 5rem;
}

.skills-title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

@media (max-width: 1024px) {
	.skills {
		padding-block: 1.5rem;
		padding-inline: 1rem;
	}

	.skills-title {
		text-align: center;
		line-height: 135%;
		font-weight: 700;
	}
}

/* feedback */

.contacts-wrapper {
	position: relative;
}

.contacts {
	padding-block: 3rem;
}

.contacts-subtitle {
	font-size: 1.3rem;
	line-height: 150%;
	font-weight: 600;
	margin-bottom: 1.5rem;
}
.contacts-content {
	display: flex;
	gap: 2rem;
	margin-bottom: 1.5rem;
}

.contacts-links {
	flex: 1;
}

.contacts-geo {
	flex: 1;
}

.contacts-geo iframe {
	max-height: 350px;
}

.contacts-list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-link {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-decoration: none;
	color: inherit;
}

.contact-btn {
	margin-top: 2rem;
	padding: 1rem 2rem;
	background: var(--color-brand);
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 6px;
}

.feedback {
	position: relative;
}

.feedback-wrapper {
	padding-block: 5rem;
	position: relative;
}

.feedback-hand {
	display: block;
	position: absolute;
	right: 0;
	top: 18%;
	width: 20%;
}

.feedback-title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	text-align: center;
}

.feedback-form {
	width: 435px;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	align-items: center;
	margin: 0 auto;
}

.form-field {
	position: relative;
	padding-top: 10px;
}

.input-label {
	position: absolute;
	top: 0;
	left: 1rem;
	font-size: 1rem;
	line-height: 150%;
	color: #83807c;
	background: #ffffff;
	padding-inline: 0.5rem;
}

.input {
	border: 3px solid #e0dedc;
	border-radius: 4px;
	width: 435px;
	padding: 8px;
}

.submit-btn {
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 3px solid var(--color-brand);
	padding: 8px;
	align-self: flex-end;
	cursor: pointer;
}

@media (max-width: 1024px) {	
	.contacts {
		padding-block: 1.5rem;
		padding-inline: 1rem;
	}

	.feedback-title {
		text-align: center;
		line-height: 135%;
		font-weight: 700;
	}
}

@media (max-width: 768px) {
	.contacts-content {
		flex-direction: column;
		align-items: center;
	}

	.contacts-title,
	.contacts-subtitle {
		text-align: center;
	}

	.contacts-list {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 1.2rem;
		flex-wrap: wrap;
	}

	.contacts-geo iframe {
		width: 100%;
		height: 250px;
	}

	.contact-btn {
		display: block;
		margin: auto;
	}

	.feedback-hand {
		display: none;
	}
}

@media (max-width: 600px) {
	.feedback-form {
		width: 100%;
	}

	.input {
		width: 100%;
	}

	.submit-btn {
		align-self: center;
	}
}

/* modal */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 2;
}

.modal-wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9;
	max-width: 90%;
	width: 100%;
	/* height: 545px; */
	max-height: 100%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 71px 57px;
	border: 1px solid white;
}

.modal__close {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
	border: none;
	background-color: transparent;
	background-image: url('../images/icons/close.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}
