bode {
	font-family: 'Inter', sans-serif;
}

.header {
	max-width: 870px;
	width: 100%;
	margin: 0 auto;
}

.navbar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-list {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	gap: 24px;
}

.nav-link {
	text-decoration: none;
	color: #bf7506;
	font-size: 16px;
	line-height: 150%;
}

.nav-link.active {
	font-weight: 700;
  font-family: 'Inter', sans-serif;
}
