body {
	font-family: 'Inter', sans-serif;
}

:root {
	--color-brand: #bf7506;
	--color-dark: #1c1c1c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 870px;
	width: 100%;
	margin: 0 auto;
}

.accent {
	color: var(--color-brand);
}

.section-heading {
	font-size: 3rem;
	line-height: 125%;
	font-weight: 700;
	letter-spacing: -0.03em;
}

.navbar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 1rem;
}

.nav-list {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	gap: 24px;
}

.nav-link {
	text-decoration: none;
	color: var(--color-brand);
	font-size: 16px;
	line-height: 150%;
}

.nav-link.active {
	font-weight: 700;
	font-family: 'Inter', sans-serif;
}

/* promo */

.promo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 28px;
	padding-bottom: 70px;
}

.promo-strong {
	display: block;
	font-size: 3rem;
	line-height: 125%;
	font-weight: 700;
	margin-bottom: 1.2rem;
}

.promo-heading {
	font-size: 1.5rem;
	line-height: 135%;
	font-weight: 700;
	letter-spacing: -0.02em;
	margin-bottom: 2rem;
}

.promo-links {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
}

.soc1al-list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.soc1al-link {
	display: inline-block;
	padding: 8px;
}

.cv-download {
	padding: 8px;
	display: flex;
	align-items: center;
	gap: 0.3rem;
	text-decoration: none;
	font-size: 1rem;
	line-height: 150%;
	font-weight: 700;
	color: var(--color-dark);
	border-bottom: 2px solid var(--color-brand);
}

@media (max-width: 900px) {
	.promo,
	.navbar {		
		padding-block: 1.5rem;
		padding-inline: 1rem;
	}
}

@media (max-width: 600px) {
	.header {
		padding-block: 0;
	}

	.navbar {
		padding-block: 1rem;
	}
	.promo {
		flex-direction: column;
		padding-top: 0;		
	}

	.promo-wrapper {
		align-items: center;
	}

	.promo-heading,
	.promo-strong {
		text-align: center;
	}
}

/* cards */

.cards {
	display: grid;
	grid-auto-flow: row;
	gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
}

.card {
	display: flex;
	flex-direction: column;
}

.card-image {
	width: 100%;
	object-fit: cover;
}

.card-info {
	padding: 1rem;
	flex: 1;
}

.card-title {
	font-size: 24px;
	line-height: 125%;
	letter-spacing: -0.02em;
	font-weight: 700;
	margin-bottom: 32px;
}

.card-description {
	font-size: 16px;
	line-height: 150%;
	font-weight: 400;
	margin-bottom: 16px;
}

.tags {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 0.3rem;
	margin-bottom: 1rem;
}

.tags-item {
	padding: 4px 8px;
	font-size: 12px;
	line-height: 150%;
	font-weight: 400;
	border: 1px solid var(--color-brand);
	border-radius: 4px;
}

.card-buttons {
	display: flex;
	align-items: center;
	gap: 1.5rem;	
}

.project-link {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 8px;
	text-decoration: none;
	color: var(--color-dark);
	border-bottom: 2px solid var(--color-brand);
}

@media (max-width: 1024px) {
	.portfolio-wrapper {
		padding-block: 1.5rem;
		padding-inline: 1rem;
	}
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 600px) {
	.cards {
		grid-template-columns: 1fr;
	}
}
